$modalpadding: 10px !default;
.modal {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  padding: $modalpadding;
}
.modal-title {
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  padding: $modalpadding;
}
.modal-action {
  background: purple;
  display: block;
  padding: $modalpadding;
}