<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

	<style>
		.demo {
			width: 100px;
			height: 100px;
			background-color: gray;
			display: inline-block;
			margin: 10px;
		}

		.red {
			background-color: red;
		}
		.green {
			background-color: green;
		}
		.blue {
			background-color: blue;
		}		
	</style>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
		<h1 v-once>{{ title }}</h1>
		<p>{{ title }}</p>
		<p>{{ sayHello() }}</p>
		<a v-bind:href="link">Google</a>
		<p v-html="finishedLink"></p>		
		<button v-on:click="increase($event, 2)">Click me</button>
		<button v-on:click="counter++">Click me</button>
		<p>{{ counter * 2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
		<p v-on:mousemove="updateCoordinates">
			Coordinates: {{ x }} / {{ y }}
			- <span v-on:mousemove.stop.prevent="">DEAD SPOT</span>
		</p>
		<input type="text" v-on:keyup.enter="alertMe">
		
		<div>
			<input type="text" v-model="name">
			<p>{{ name }}</p>
		</div>		

		<div>
			<button v-on:click="counter++">Increase</button>
			<button v-on:click="counter--">Decrease</button>
			<button v-on:click="secondCounter++">Increase second</button>
			<p>Counter: {{ counter }} || {{ secondCounter }}</p>
			<p>Result: {{ result() }} | {{ output }}</p>
		</div>

		<div>
			<div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
			<div class="demo" :class="{red: attachRed}"></div>
			<div class="demo" :class="[color, {red: attachRed}]"></div>
			<hr>
			<input type="text" v-model="color">
		</div>

		<div>
			<div class="demo" :style="{backgroundColor: color}"></div>
			<div class="demo" :style="myStyle"></div>
			<div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
			<hr>
			<input type="text" v-model="color">
			<input type="text" v-model="width">
		</div>
	</div>

	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				title: 'Hello World!',
				link: 'http://www.google.com',
				finishedLink: '<a href="http://www.google.com">Google</a>',
				counter: 0,
				x: 0,
				y: 0,
				name: 'Enzo',
				secondCounter: 0,
				attachRed: false,
				color: 'green',
				width: 100
			},
			methods: {
				sayHello: function() {
					this.title = 'Hello!';
					return this.title;
				},
				increase: function(event, step) {
					this.counter += step;
				},
				updateCoordinates: function(event) {
					this.x = event.clientX;
					this.y = event.clientY;
				},
				alertMe: function() {
					alert('Alert');
				},
				result: function() {
					return this.counter > 5 ? 'Greater 5' : 'Smaller 5';
				}
			},
			computed: {
				output: function() {
					return this.counter > 5 ? 'Greater 5' : 'Smaller 5';
				},
				divClasses: function() {
					return {
						red: this.attachRed,
						blue: !this.attachRed
					}
				},
				myStyle: function() {
					return {
						backgroundColor: this.color,
						width: this.width + 'px'
					}
				}
			},
			watch: {
				counter: function(value) {
					var vm = this;
					setTimeout(function() {
						vm.counter = 0;
					}, 2000);
				}
			}
		})
	</script>
</body>
</html>