.btn {
  background-color: #00A0D6;
  color: #FFF;
  /*transition: background-color 0.5s, color 0.6s;*/
  transition: all 0.4s;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #007DA7;
  color: #E3E3E3;
}
